*{
    margin: 0;
    font-family: 'Poppins', normal;
}
/* header styles */
.header{
    background-image:linear-gradient(360deg, #121212 -2.99%, rgba(18, 18, 18, 0) 97.01%) , url(../images/donation13.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
     color: azure;
     padding-top: 300px ; 
     
}
.header-title{
   font-size: 55px;
   margin: 50px 200px;
   
  
}
.btn-primary{
    background: #FF5959;
    border-radius: 4px;
    border: 0;
    font-size: 24px;
    color: azure;
    font-weight: 700;
    
}
.header-description{
    font-size: 20px;
    margin-bottom: 30px;
}
/* donate section */
.donate{
    text-align: center;
}
.donate-title{
    font-weight: 600;
    color: #121212;
    margin-top: 100px;
    font-size: 30px;
}
.donate-description{
    margin-top: 20px;
    color: #707070;
    font-size: 20px;
    margin-bottom: 20px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 200px;
    font-weight: 800;
    font-size: 24px;
}
.donate-info{
    list-style: none;
    margin-left: 50px;
    border-radius: 5px;
    background: #FAFAFA;
    padding: 20px;
    /* text portion */
    color: #707070;
    font-weight: 600;
    font-size: 30px;
}
li:hover{
    border: 2px solid #ff5a5a;
}
hr{
    
    color:rgb(197, 195, 195);
    margin: 10px auto;
    width: 40%;
}
.amount{
    color: #707070;
}

/* plan style */
.plan{
    text-align: center;
}
.plan-title{
    margin-top: 120px;
    font-size: 30px;
    font-weight: 600;
}
.plan-description{
    color: #707070;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
}
.plan-container{
    display: flex;
    text-align: justify;
    margin-top: 50px;
    gap: 30px;
    padding: 200px;
}
.plan-info-title{
    margin: 5px 5px ;
}
.plan-info-description{
    color: #707070;
    font-size: 18px;
    
}
.plan-info-one{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 60px 20px;
}
.plan-info-two{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 60px 20px;
}
.plan-info-three{
    background:  #ffffdab9;
    border-radius: 5px;
    padding: 60px 20px;
}

/* description style*/
.description{
    padding: 100px;
}
.container-one{
    display: flex;
    gap: 320px;
}
.container-two{
    display: flex;
    gap: 350px;
    margin-top: 60px;
}
.description img{
    width:400px;
    height: 450px;
}
.con-one-title{
    font-size: 45px;
    font-weight: 700;
    text-align: justify;
}
.con-one-des{
    font-size: 15px;
    margin: 20px 0px;
    text-align: left;
    margin-bottom: 20px;
}
.con-two-title{
    font-size: 45px;
    font-weight: 700;
    text-align: justify;
}
.con-two-des{
    font-size: 15px;
    margin: 20px 0px;
    text-align: justify;
    margin-bottom: 20px;
}
/* input */
.update{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-bottom: 20px;
}
.update-des{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 120px;
     color: #707070;
}
.mail{
     margin: 0 20px 80px 200px; 
    border-radius: 5px;
    /* margin: 10px auto; */
    width: 70%;
}

.mail-box{
    margin: 70px 0px; 
    background: #fffed5;
    padding: 50px 30px;
}

input{
    padding: 16px 90px;
    border: none;
    border-radius: 5px;
    background: #f1f0f0;
    text-align: left;
    margin-left: 150px;
}

.btn{
    background-color: #ff5a5a;
    color: #ffffff;
    font-weight: 200;
    font-size: 15px;
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
    margin-left: -10px;
}
/* footer-style */
footer{
    background: #0B0D17;
}
.footer-title{
    letter-spacing: 0.5px;
    color: #FF5959;
    font-family: 'Lobster';
    text-align: center;

}
.footer-description{
    text-align: center;
    color: #D9DBE1;
    margin-top: 30px;
}




